# dependencies for Alert Classification Module

pandas>=1.5.0
numpy>=1.23.0
scikit-learn>=1.2.0
scipy>=1.10.0
networkx>=3.0
APScheduler>=3.10.0
joblib>=1.2.0
azure-storage-blob>=12.0.0
pymongo>=4.0.0
python-dotenv>=0.19.0
flask>=2.0.0
pyarrow>=11.0.0

